.footer {
    display: flex;
    padding: 16px;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    color: rgb(130,130,130);
}

.redes a{
    text-decoration: none;
    color: rgb(130,130,130);
    margin: 0 16px;
}