.thematic {
    margin-bottom: 20px;
    overflow-x: hidden;
}

.thematic .coming-soon {
    background: rgb(169,212,234);
    width: 100%;
    height: 36px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    color: white;
}

.thematic .buy-opensea {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.thematic .buy-opensea a {
    background: rgb(105,244,200);
    text-decoration: none;
    font-size: 24px;
    color: #000;
    margin-top: 4px;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    box-shadow: -10px 5px 5px #797979;
}

.thematic-rarity {
    background: rgb(241,243,244);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.t-r {
    width: 650px;
    position: relative;
    text-align: center;
    left: 160px;
}

.t-r-title {
    padding-top: 24px;
    margin-bottom: 16px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 24px;
    gap: 1em;
}

.grid-paises {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 20px;
}

.grid-paises .paises {
    display: flex;
    flex-direction: row;
}

.grid-paises .paises img{
    width: 140px;
    height: 140px;
    margin-right: 16px;
    margin-top: 50px;
}

.grid-paises .legendarios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.legendarios-text {
    display: flex;
    flex-direction: column;
}

.legendarios-container img {
    width: 140px;
    height: 140px;
    margin-top: 24px;
    margin-left: -20px;
}

.grid-categorias {
    display: flex;
    flex-direction: column;
}

.g-img {
    text-align: center;
}

.g-img img{
    position: relative;
    z-index: 1;
    width: 450px;
    height: 450px;
    margin-top: -80px;
    margin-left: -80px;
}

.paises-text {
    background: #ffffff;
    width: 500px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: inset 1px 2px 4px #000000;
}

.p-text-title {
    font-size: 20px;
    font-weight: bold;
}

.legendarios {
    margin-top: 24px;
}

.legen-img {
    width: 380px;
    height: 380px;
}

.legendarios-text {
    position: relative;
    background: rgb(255,144,183);
    padding: 16px;
    border-radius: 8px;
    box-shadow: inset 1px 2px 4px rgb(166, 119, 137);
    color: #ffffff;
    z-index: 2;
}

.g-categorias {
    margin-top: -40px;
    padding: 60px;
}

.rarezas {
    margin-top: 40px;
    margin-bottom: 60px;
    display: none;
}


@media (max-width: 1275px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .g-img img{
        width: 600px;
        height: 600px;
        margin-top: 0;
        margin-left: 0;
    }

    .g-c-text {
        text-align: center  ;
    }

    .g-c-text span {
        margin-bottom: 10px;
    }

    .t-r {
        position: static;
        width: 100%;
        text-align: center;
        padding: 20px;

    }

    .rarezas {
        display: block;
    }

}

@media (max-width: 700px) {
    .grid-paises .paises {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .grid-paises .paises img{
        width: 300px;
        height: 300px;
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .legen-img {
        width: 300px;
        height: 300px;
        margin-left: 0;
    }

    .legendarios-container img {
        display: none;
    }

    .grid-paises .legendarios {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .legendarios-container {
        margin-left: 0;
    }

    .g-img img{
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 575px) {
    .g-img img{
        width: 350px;
        margin-top: 0px;
        margin-left: 0px;
        height: 350px;
    }

    .g-categorias {
        margin-top: 0px;
    }

    .grid-categorias {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .legendarios-container {
        width: 300px;
    }

    .paises-text {
        width: 300px;
    }
}

@media (max-width: 400px) {
    .legendarios-container {
        width: 240px;
    }

    .paises-text {
        width: 240px;
    }

    .g-img img{
        width: 240px;
        height: 240px;
    }

    .grid-paises .paises img{
        width: 250px;
        height: 250px;
    }

    .legen-img {
        width: 250px;
        height: 250px;
    }
}